@charset "ITF-8";

/*
 #c5edb6  mais claro 
 #83e1ad
 #3ddc84
 #2fa966
 #1a5c37
 #063d1e  mais escuro
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/idroid/IDroid.otf')
    format('opentype');
}

*{
    padding: 0px;
    margin: 0px;
}
:root{
    --cor1:#c5edb6; 
    --cor2:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa966;
    --cor5:#1a5c37;
    --cor6:#063d1e;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'Android', 'cursive';
}
a.externo::after {
    content: '\1F517';
}
body{
    background-color: #c5edb6; 
    font-family: var(--fonte-padrão);
}
header{
   background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1 {
   
    font-family: var(--fonte-destaque);
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 25px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.629);
    color: white;
}
header > p {
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 1.1em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.629);
    padding-bottom: 30px;
}
nav{
    background-color: var(--cor5);
    box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.405);
    padding-bottom: 10px;
}
nav > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    
    
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    font-weight: bold;
    border-radius: 5px;
    
}

main{
    background-color: white;
    padding: 10px;
    margin: auto;
    min-width: 280px;
    max-width: 1000px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.407);
}

main img{
    width: 100%;
}

main img.pequena{
    display: block;
    max-width: 350px;
    margin: auto;
}

main h1 {
    color: var(--cor6);
    font-family: var(--fonte-android);
    font-weight: normal;
}

main h2 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 20px;
    font-weight: normal;
}

main p {
    text-align: justify;
    text-indent: 20px;
    margin: 15px 0px;
    line-height: 1.5;
    font-size: 1em;
}

main strong {
    color: var(--cor4);

}

main a {
    text-decoration: none;
    color: var(--cor6);
    background-color: var(--cor4);
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}
div.video {
    background-color: var(--cor6);
   padding: 20px;
   margin: 0px -20 35px -20px;
   padding-bottom: 54%;
   position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
aside {
    background-color: var(--cor2);
    padding: 15px ;
    border-radius: 10px;
    margin:30px 20px 20px 20px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.582);
}

aside > h3 {
    background-color: var(--cor5);
    color: white;
    margin: -15px -15px 0px -15px;
    border-radius: 10px 10px 0px 0px;
    padding: 6px;
}

aside ul {
    columns: 2;
    margin-bottom: 30px;
    list-style-type: none; 
    list-style-position: inside;
}

footer{
    margin: 10px 0px 0px 0px;
    text-align: center;
}
footer strong{
    color: var(--cor4);
}